body {background-color:lime;}
h1 {color:yellow;}
h2 {color:pink;}
h3 {color:white;} 
#one {color:yellow; font-style:strong;}
#two {color:pink;  font-style:stong;}
#three {color:white; font-style:strong;}